@inherits LayoutComponentBase

<RadzenDialog @rendermode="InteractiveServer" />
<div class="page">
    @*<div class="sidebar">
            <NavMenu />
        </div>*@

    <main>

        <RadzenLayout>
            <RadzenHeader>
                <RadzenStack>
                    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
                        <RadzenSidebarToggle Click="@(() => sidebar1Expanded = !sidebar1Expanded)" />
                        <div class="px-4">
                            <RadzenLabel Text="Header" />
                        </div>
                        <div class="px-4">
                            <RadzenLink Path="https://learn.microsoft.com/aspnet/core/" Text="About" Target="_blank" />
                        </div>
                    </RadzenStack>
                </RadzenStack>
            </RadzenHeader>
            <!--Side bar-->
            <RadzenSidebar @bind-Expanded="@sidebar1Expanded">
                <RadzenPanelMenu>
                    <RadzenPanelMenuItem Text="My Discs" Path="alldiscs" Icon="donut_large" />
                    <RadzenPanelMenuItem Text="Add New Disc" Path="add" Icon="account_box" />
                    <RadzenPanelMenuItem Text="Disc Bag" Path="discbag" Icon="card_giftcard" />
                    <RadzenPanelMenuItem Text="Sample Html" Path="sample" Icon="home" />
                </RadzenPanelMenu>
            </RadzenSidebar>

            <RadzenBody>
                <div class="content rz-p-4">
                    @Body
                </div>
            </RadzenBody>
            <RadzenFooter>
                <RadzenStack>
                    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
                        <RadzenLabel Text="Footer" />
                    </RadzenStack>
                </RadzenStack>
            </RadzenFooter>
        </RadzenLayout>


    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>


@code {
    bool expandedFlag = true;
    bool sidebar1Expanded = true;
}