
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Disc Golf Manager Powered by .NET Aspire</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            @*<NavLink class="nav-link" href="" Match="NavLinkMatch.All">*@
            @*<span class="bi bi-house-door-fill" aria-hidden="true"></span> Home*@


            @*<RadzenStack Orientation="Orientation.Horizontal" Wrap="FlexWrap.Wrap" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center" class="icon-preview rz-p-12">
                <RadzenCard class="rz-p-2">
                    <RadzenIcon Icon="home" IconColor="@Colors.Success" />
                    <RadzenButton Text="My Discs" ButtonStyle="ButtonStyle.Base" />
                </RadzenCard>
                    <RadzenIcon Icon="home" IconColor="@Colors.Success" />

            </RadzenStack>

            <RadzenStack Orientation="Orientation.Vertical" Wrap="FlexWrap.Wrap" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center" class="icon-preview rz-p-12">
                <RadzenCard Icon="home" IconColor="@Colors.Success" />Home
                <RadzenCard Icon="home" IconColor="@Colors.Success" />My Discs
            </RadzenStack>*@

            @*</NavLink>*@
        </div>

        @*<div class="nav-item px-3">
            <NavLink class="nav-link" href="TabSample">
                <span class="d d-block" aria-hidden="true"></span> Tab Sample
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="alldiscs">
                <span class="d d-block" aria-hidden="true"></span> My Discs
            </NavLink>
        </div>*@

        @*<div class="nav-item px-3">
            <NavLink class="nav-link" href="alldiscs">
                <span class="d d-block" aria-hidden="true"></span> My Discs
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="add">
                <span class="bi bi-plus-square-fill" aria-hidden="true"></span> Add Disc
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="discbag">
                <span class="bi bi-plus-square-fill" aria-hidden="true"></span> Disc Bag
            </NavLink>
        </div>*@

    </nav>
</div>
